<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="../css/styles.css"">
    <title>Baguio Weather</title>
</head>
<body>
    <div class="top-part"> Weather Forecast
        <img src="/photo/logo.jpg" alt="Weather">
    </div>
    <div class="top-nav">
        <a href="baguio.html" class="bag">Baguio</a>
        <a href="tagaytay.html" class="tagay">Tagaytay</a>
        <a href="taytay.html" class="tay">Taytay</a>
    </div>

    <div class="content-inside"> 
        <h1>Welcome to Baguio Weather</h1>
        <div class="inside-baguio">
            <h2>Temp : -18°</h2>
            <h2>Visibility : Winter</h2>
            <h2>Location : Baguio</h2>  
        </div>
    </div>
</body>
</html>
