<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"">
    <title>Tagaytay Weather</title>
</head>
<body>
    <div class="top-part"> Weather Forecast
        <img src="/photo/logo.jpg"alt="Weather">
    </div>
    <div class="top-nav">
        <a href="baguio.html" class="bag">Baguio</a>
        <a href="tagaytay.html" class="tagay">Tagaytay</a>
        <a href="taytay.html" class="tay">Taytay</a>
    </div>

   
    <div class="content-inside">
        <h1>Welcome to Tagaytay Weather</h1>
        <div class="inside-tagaytay">
            <h2>Temp : 25°</h2>
            <h2>Visibility : Sunny</h2>
            <h2>Location : Tagaytay</h2>
        </div>
    </div>
</body>
</html>
